.bdelete{
    font-size: 16px;
    border: 0;
    padding:5px;
    border-radius: 15%;
    background-color:rgb(218, 72, 72);
    margin-right: 5px;
}

.bedit{
    font-size: 16px;
    border: 0;
    padding:5px;
    border-radius: 15%;
    background-color:#4288f0cc;
}